<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="com.yourdomain.sssptimefixer"
        version="1.0.0"
        viewmodes="fullscreen">

  <tizen:profile name="tv"/>
  <tizen:application id="com.yourdomain.timefixer" package="com.yourdomain.timefixer" required_version="2.4"/>
  <content src="index.html"/>
  <name>SSSP Time Fixer</name>
  <description>Corrige la hora automáticamente en pantallas Tizen</description>
  <icon src="icon.png"/>

  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="internal-only"
                 hwkey-event="enable"/>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/time.set"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>

  <tizen:feature name="http://tizen.org/feature/screen.size.all"/>

</widget>
